*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}
nav{
  background-color: #EEEEEE;
  height: 50px;
  padding-top: 25px;
}
header{
  background-color: #CECECE;
  height: 330px;
  padding-top:25px;
}
footer{
  background-color: #4A4A4A;
  height: 180px;
  padding-top:25px;

}